* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 32px;
}

button {
	color: white;
	background-color: darkviolet;
}

label {
	color: white;
	background-color: darkmagenta;
}

input {
	color: lightpink;
	background-color: darkblue;
}

body {
	background-color: black;
}

ul {
	background-color: darkgray;
	color: white;
}

li {
	background-color: gray;
	color: lightcyan;
}
